<div data-controller="mix" data-mix-target="colorsContainer" id="colors-container">
  <%= form_with url: "/admin/mix", method: :post, local: true do |f| %>


    <div>
      <label>Order ID</label>
      <select name="order_id" class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full">
        <option value="">Choose Order</option>
        <% @orders.each do |order| %>
          <option value="<%= order.id %>"><%= order.id %></option>
        <% end %>
      </select>
    </div>

  

    <div data-target="controller.colorsContainer"></div>

    <button type="button" data-action="mix#addColorField" class="bg-blue-500 text-white px-4 py-2 rounded-md">
      Add Color
    </button>

    <button type="submit" class="bg-green-500 text-white px-3 py-2 rounded-md">Submit</button>
  <% end %>
</div>

<script>
  const primaryColors = <%= raw PrimaryColor.all.to_json %>;
</script>