<div id="<%= dom_id(mixture_third) %>">


  <table class="w-full table-auto border-collapse">

    <tbody>

      <tr class="bg-gray-700 text-gray-300">
        <td class="px-4 py-2 border-b">Primary Color</td>
        <td class="px-4 py-2 border-b"><%= mixture_third.primary_color_id %></td>
      </tr>
      <tr class="bg-gray-800 text-gray-300">
        <td class="px-4 py-2 border-b">Amount</td>
        <td class="px-4 py-2 border-b"><%= mixture_third.amount %></td>
      </tr>
    </tbody>
  </table>

  </div>
