<nav class="fixed w-full top-0 bg-gray-900 shadow-lg z-10 py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-between">
        <div class="flex-shrink-0 flex items-center">
          <%= link_to root_path do %>
            <%= image_tag 'TJlogo.png', class: 'h-16 w-auto' %>
          <% end %>
        </div>

        <!-- Directly show cart icon in both desktop and mobile -->
        <div class="flex items-center space-x-8">
          <%= link_to cart_path, class: "text-white hover:text-orange-500 transition duration-300 py-2 rounded-md text-md font-semibold" do %>
            <%= icon 'fa-solid', 'shopping-cart' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
