<h1 class="text-4xl font-bold text-center mb-10 text-orange-600">Products</h1>

<!-- Back Button -->
      <%= link_to root_path, class: "bg-[#1E3E62] text-white py-2 px-4 rounded-lg shadow hover:bg-[#0B192C] inline-flex items-center space-x-2 transition duration-200" do %>
    <i class="fas fa-arrow-left"></i>
    <span>Back</span>
  <% end %>

<div class="min-h-screen flex justify-center">
  <div class="flex flex-wrap mt-6 gap-8 flex-grow justify-center items-start">
    <% if @products.blank? %>
      <p class="text-2xl text-left text-gray-800">No products found</p>
    <% else %>
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div class="max-w-xs flex flex-col p-4 justify-center items-center border border-gray-300 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-200">
            <div class="w-64 h-64 flex justify-center items-center bg-gray-100 rounded overflow-hidden">
              <%= product.image.attached? ? image_tag(product.image, size: "250x250", class: "object-cover") : image_tag("https://via.placeholder.com/250", class: "object-cover") %>
            </div>
            <h2 class="mt-4 text-lg font-semibold text-gray-900 text-center"><%= product.name %></h2>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
