<div class="my-5">
  <%= f.label :primary_color_id, "Select Color", class: "text-white font-semibold" %>
  <%= f.collection_select :primary_color_id, PrimaryColor.all, :id, :name, 
                          { prompt: "Choose a color" }, 
                          { class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-[#FF6500] transition duration-200" } %>
</div>

<div class="my-5">
  <%= f.label :amount, "Quantity", class: "text-white font-semibold" %>
  <%= f.text_field :amount, class: "block shadow-md rounded-md border border-gray-600 text-gray-800 outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-[#FF6500] transition duration-200" %>
</div>
