<div class="my-5">
    <%= f.label :primary_color_id, "Select Color" %>
    <%= f.collection_select :primary_color_id, PrimaryColor.all, :id, :color_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>



