<div class="mx-auto md:w-2/3 w-full">

    <%= link_to admin_mixtures_path, class: "bg-[#1E3E62] text-white py-2 px-4 rounded-lg shadow hover:bg-[#0B192C] inline-flex items-center space-x-2 transition duration-200" do %>
    <i class="fas fa-arrow-left"></i>
    <span>Back</span>
  <% end %>
  <%= render "form", admin_mixture: @admin_mixture %>

 
</div>
